/* fundo */
body {
    font-family: 'Poppins';
    background-color: #f5f7f6;
    margin: 0;
}

/* titulos */
h1, h2, h3, h4, h5, h6 {
    font-family: 'Poppins';
    font-weight: 600;
    color: #2e7d32;
}

/* explicações (paragrafos)*/
p {
    font-weight: 400;
    color: #555;
    font-size: 20px; }

/* menu */
.topo {
    background: #2e7d32;
    color: white;
    padding: 15px;
}

/* botão do menu (cadastro e login) */
.w3-bar .w3-button {
    border-radius: 20px;
}

.w3-bar .w3-button:hover {
    background-color: #1b5e20 !important;
    color: white !important;
}

/* botões */
.botao {
    background-color: #2e7d32;
    color: white;
    padding: 12px 25px;
    border-radius: 25px;
    transition: 0.3s;
}

.botao:hover {
    background-color: #1b5e20;
}

/* card */
.card {
    background-color: white;
    padding: 30px;
    border-radius: 20px;
    box-shadow: 0px 4px 15px rgba(0,0,0,0.1);
}

form {
    margin-top: 20px;
}

/* formulário */
form label {
    display: block;
    margin-top: 18px;
    margin-bottom: 6px;
    font-size: 14px;
    color: #333;
}

/* formulário */
.input {
    display: block; 
    width: 100%;
    padding: 12px;
    border-radius: 12px;
    border: 1px solid #ccc;
    font-size: 15px;
    transition: 0.3s;
    box-sizing: border-box;
}


.input:focus {
    border-color: #2e7d32;
    box-shadow: 0, 0, 6px rgb(46,125,50,0.3);
}

/* estilo questionario */
form.questionario-form .questionario-input,
form.questionario-form .questionario-select {
    width: 220px !important; 
    padding: 10px !important;       
    border-radius: 12px;
    border: 1px solid #ccc;
    font-size: 15px;
    box-sizing: border-box;
}

form.questionario-form .questionario-input:focus,
form.questionario-form .questionario-select:focus {
    border-color: #2e7d32;
    box-shadow: 0 0 6px rgba(46,125,50,0.3);
}

form.questionario-form .questionario-select {
    appearance: none;
    background-color: #fff;
}

.questionario-form label {
    font-size: 17px;
    font-weight: 500;
    color: #555; 
}